<ion-header>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button (click)="goToNew()">
        New
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let post of posts" (click)="goToDetail(post.id)">
      <h3><b>{{ post.title }}</b></h3>
      <span>{{post.body}}</span>
    </ion-item>
  </ion-list>
</ion-content>
