<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Body</ion-label>
      <ion-input type="text" [(ngModel)]="post.body" name="body"></ion-input>
    </ion-item>
    <button ion-button full color="secondary" (click)="update()">Update</button>
    <button ion-button full color="danger" (click)="delete()">Delete</button>
  </form>
</ion-content>
