<!--
  Generated template for the New page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>new</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form>
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" [(ngModel)]="post.title" name="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Body</ion-label>
        <ion-input type="text" [(ngModel)]="post.body" name="body"></ion-input>
      </ion-item>
      <button type="submit" ion-button full (click)="save()">post!</button>
    </form>
</ion-content>
